body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    background-color: #006884;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/BgrICs-NZj4hksnn3/videoblocks-615b01ba105bea1663cf66fb_r6liz-vrf_thumbnail-1080_01.png');
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 100px 20px;
}

.hero h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    color: white;
    font-size: 1em;
    margin-bottom: 30px;
}

.section {
    padding: 40px 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
    text-align: center;
    color: #006884;
    margin-bottom: 20px;
}

.team-section {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-member p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
}

.team-member a {
    color: #006884;
    text-decoration: none;
}

.team-member a:hover {
    text-decoration: underline;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #006884;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}